.bg-neutral {
  background-color: rgba(22, 51, 0, 0.07843);
}

.fs-17 { font-size: 17px !important; }

.fs-16 { font-size: 16px !important; }

/* padding right */

.pr-30 {
  padding-right: 30px !important;
}