.bg-neutral {
  background-color: rgba(22, 51, 0, 0.07843);
}

.fs-13 { font-size: 13px !important; }
.fs-16 { font-size: 16px !important; }
.fs-17 { font-size: 17px !important; }

/* padding right */

.pr-25 {
  padding-right: 25px !important;
}